body{
    font-family: Raleway;
    color: #555;
    background: #C5E3BF;
    margin: 10px 30px;
}



li{
    padding: 15px 0;
    background: #eee;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
}

span{
    display: inline-block;
    margin: 0 20px;
}
span.dist{
    color: green;
    float: right;
}

.rhs{
	float:right;
	border-left: 50px;
}
.map{
	visibility: visible; 
	width: 900px; 
	height: 500px;
}
.map.hide {
  visibility: hidden;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

#pitches{
	float:left;
}
